In [4]:
import pandas as pd
import csv
from itertools import zip_longest

University=["Ryerson","McMaster","Carleton","Alberta","Calgary"]
Deadline=["December",'December','December','December','Janurary']
Status=['Applied','Applied','Appied','Applied','Preparing']



Table=[University, Deadline, Status]


export_data = zip_longest(*Table, fillvalue = '')
with open('Uni_app.csv', 'w', encoding="ISO-8859-1", newline='') as myfile:
      wr = csv.writer(myfile)
      wr.writerow(("Job_title", "Deadline", "Status"))
      wr.writerows(export_data)
myfile.close()

df1 = pd.read_csv("Uni_app.csv")

df1

  Job_title  Deadline     Status
0   Ryerson  December    Applied
1  McMaster  December    Applied
2  Carleton  December     Appied
3   Alberta  December    Applied
4   Calgary  Janurary  Preparing