# Numbers and printing python

In [1]:
a=1
b=2
c=3
d=4

5.0

In [2]:
float_division=12/3
print(float_division)

4.0

In [6]:
integer_division=12//3
print(integer_division)
print(int(integer_division))

4

In [8]:
division_with_remainder=12//5
print(division_with_remainder)
remainder=12%5
print(remainder)

2
2

# Getting things from the fusers

In [9]:
my_name ='Shahin'
your_name=input("Enter your name: ")

#print ("Hello"+ yourname)
print(f'Hello, {your_name}')

Enter your name: Shahin Ahmadi
Hello, Shahin Ahmadi

In [16]:
your_age= int(input("Enter your age: "))
convert_to_month=your_age*12
print(f'You have lived for {convert_to_month}')

Enter your age: 32
You have lived for 384

In [17]:
in_seconds=convert_to_month*30*24*60*60
print(f'You have lived for{in_seconds}')

You have lived for995328000

# Bolean

In [18]:
truthy=True
falsy=False
age=20
is_over_age=age>=18
print(is_over_age)

True

In [23]:
is_under_age=(age<18)
print(is_under_age)

False

In [22]:
is_twenty=age==20
print(is_twenty)

True

In [29]:
my_number=5
user_number=int(input("Enter your number: "))
print(my_number==user_number)
print(my_number!=user_number)

Enter your number: 3
False
True

In [30]:
yes=True and True
no = True and False
print(no)

False

In [31]:
which_one_is_it=True or False
second_one=False or True
first_one=True or True
neither=False or False

absolutely= not False # True
another_no=not True # False

is_programmer=True
is_learning=False

awesome=is_programmer and is_learning
less_awesome=is_programmer and not is_learning
print(f'OKKKK {less_awesome}')

OKKKK True

In [34]:
is_designer=False
great_guys=(is_programmer or not is_designer) and not is_learning
print(f'This is a great guy {great_guys}')

This is a great guy True

# Data structurs (lists, tuples, and sets)

In [36]:
my_variables='hello'
my_list_variable=['hello', 'hi', 'nice to meet you']
my_tuple_variable=('hello','hi','nice to meet you')
my_set_variable={'hello', 'hi', 'nice to meet you'}

print(my_list_variable)
print(my_tuple_variable)
print(my_set_variable)

['hello', 'hi', 'nice to meet you']
('hello', 'hi', 'nice to meet you')
{'nice to meet you', 'hi', 'hello'}

In [38]:
my_short_tuple_variable=('hello')
print(my_short_tuple_variable)

hello

In [39]:
print(my_list_variable[0])

hello

In [40]:
print(my_tuple_variable[0])

hello

### Modify the list

In [42]:
my_list_variable.append('Anothr sting')
print(my_list_variable)

['hello', 'hi', 'nice to meet you', 'Anothr sting']

In [44]:
my_tuple_variable=my_tuple_variable+('another string', )
print(my_tuple_variable)

('hello', 'hi', 'nice to meet you', 'another string')

In [45]:
my_set_variable.add('hello')
print(my_set_variable)

{'nice to meet you', 'hi', 'hello'}

## Advanced set operators

In [1]:
set_one={1,2,3,4,5}
set_two={1,3,5,7,9,11}
print(set_one.intersection(set_two))

{1, 3, 5}

In [2]:
print(set_one.union(set_two))

{1, 2, 3, 4, 5, 7, 9, 11}

In [3]:
print(set_one.difference(set_two))

{2, 4}

## Dictionary

In [7]:
my_friend=[{
    'Jose':6,
    'Rolf':12,
    'Anne':6
},{
  'Shahin':20,
    'Ramin':25,
    'Mohsen':46
}]
group_one=my_friend[0]
print(group_one['Jose'])

6

In [8]:
a=[1,2,3,4,5,6]
print(sum(a))

21

### The leength of the list

In [3]:
grades=[95,50,75,100]
total=sum(grades)
print(total)

320

In [4]:
len(grades)

4

### If statement

In [7]:
programmer=True
if programmer is True:
    print('You are awesome')

You are awesome

In [10]:
programmer=False
if programmer is  True:
    print('You are awssome')
else:
    print('Learn some programming')

Learn some programming

In [22]:
is_programmer=False
is_awesome=False


if is_programmer:
    print('You are the best!')
elif is_awesome:
    print("You are awesome")
else:
    print("I do not have any idea")

I do not have any idea

In [20]:
if  (is_programmer or is_awesome):
    print('Be awesome!')

Be awesome!

## Using while loop

In [ ]:
is_programmer=False
while is_programmer:
    print('Hello World')

In [1]:
i=0
while i<10:
    print(f'Repeated {i} times')
    i=i+1

Repeated 0 times
Repeated 1 times
Repeated 2 times
Repeated 3 times
Repeated 4 times
Repeated 5 times
Repeated 6 times
Repeated 7 times
Repeated 8 times
Repeated 9 times

### For loop

In [3]:
primes=[2,3,4,7,11]
for i in primes:
    print(f'{i} is a prime number')

2 is a prime number
3 is a prime number
4 is a prime number
7 is a prime number
11 is a prime number

In [4]:
kid_ages=(3,7,12)
for age in kid_ages:
    print(f'I have a {age} year old kid')

I have a 3 year old kid
I have a 7 year old kid
I have a 12 year old kid

In [5]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
my_friends={
    'Jose':6,
    'Rolf':12,
    'Anne':6
}

for name in my_friends:
    print(f'I last saw {name} {my_friends[name]} days ago.')

I last saw Jose 6 days ago.
I last saw Rolf 12 days ago.
I last saw Anne 6 days ago.

In [9]:
my_friends={
    'Jose':6,
    'Rolf':12,
    'Anne':6
}

for name, days in my_friends.items():
    print(f'I last saw {name} {days} days ago.')

I last saw Jose 6 days ago.
I last saw Rolf 12 days ago.
I last saw Anne 6 days ago.

In [10]:
print(my_friends.items())

dict_items([('Jose', 6), ('Rolf', 12), ('Anne', 6)])

### Break keyword

In [4]:
cars=['ok','ok','ok','faulty','ok','ok']
for car in cars:
    print(car)
    if car=='faulty':
        break
print('Stop production')

ok
ok
ok
faulty
Stop production

In [12]:
for number in range(2,10):
    if number%2==0:
        print(f'We found an even number{number}')
       # continue
    else:
        print(f'I found a {number}')

We found an even number2
I found a 3
We found an even number4
I found a 5
We found an even number6
I found a 7
We found an even number8
I found a 9

In [24]:
for n in range(2,10):
    for x in range(2,n):
        if n%x==0:
            print(f'{n} equals {x}*{n/x}')
            break
    else:
            print(f'{n} is a prime number')

2 is a prime number
3 is a prime number
4 equals 2*2.0
5 is a prime number
6 equals 2*3.0
7 is a prime number
8 equals 2*4.0
9 equals 3*3.0

In [27]:
for n in range(2,10):
    for k in range(2,n):
        if n%k==0:
            print(f'{n} equals {k}*{n/k}')
            break
    else:
            print(f'{n} is a prime number')

2 is a prime number
3 is a prime number
4 equals 2*2.0
5 is a prime number
6 equals 2*3.0
7 is a prime number
8 equals 2*4.0
9 equals 3*3.0

In [1]:
### List slicing

In [3]:
friends=['rolf', 'Jose', 'Anna', 'Charlie', 'Mary']
print(friends[2:4])

['Anna', 'Charlie']

In [4]:
print(friends[-3:-1])

['Anna', 'Charlie']

In [6]:
print(friends[:-2])

['rolf', 'Jose', 'Anna']

### List comprehension

In [16]:
numbers=list(range(10))

In [17]:
doubled_numbers=[]
for i in numbers:
    doubled_numbers.append(i*2)
print(doubled_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
doubled_numbers=[n*2 for n in numbers]

print(doubled_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
names_list=['John','Rolf','Anne']
lower_case=[]
for i in names_list:
    print(i.lower())
    lower_case.append(i.lower())
print(lower_case)

john
rolf
anne
['john', 'rolf', 'anne']

### With condition

In [36]:
even=[]
for i in numbers:
    if i%2==0:
        even.append(i)
print(even )

[0, 2, 4, 6, 8]

In [38]:
friends=['Ali', 'Hasan', 'Hossein', 'Sajjad']
guests=['Fatemeh', 'Zeinab', 'Zahra', 'Leila', 'Hasan', 'Hossein']

In [43]:
present_friend=[n.capitalize() for n in friends if n in guests]

In [44]:
print(present_friend)

['Hasan', 'Hossein']

### Functions

In [2]:
#name = input('Enter your name: ')
#print(f'Hello , {name}!')
def greet():
    name=input('Enter your name: ')
    print(f'Hello, {name}!')
    
#greet()

In [14]:
def check_if_prime(n):
    #for n in range(2,10):
        for x in range(2,n):
            if n%x==0:
                print(f'{n} equals {x}*{n/x}')
                break
        else:
                print(f'{n} is a prime number')

            

for n in range(2,100):            
      check_if_prime(n)

2 is a prime number
3 is a prime number
4 equals 2*2.0
5 is a prime number
6 equals 2*3.0
7 is a prime number
8 equals 2*4.0
9 equals 3*3.0
10 equals 2*5.0
11 is a prime number
12 equals 2*6.0
13 is a prime number
14 equals 2*7.0
15 equals 3*5.0
16 equals 2*8.0
17 is a prime number
18 equals 2*9.0
19 is a prime number
20 equals 2*10.0
21 equals 3*7.0
22 equals 2*11.0
23 is a prime number
24 equals 2*12.0
25 equals 5*5.0
26 equals 2*13.0
27 equals 3*9.0
28 equals 2*14.0
29 is a prime number
30 equals 2*15.0
31 is a prime number
32 equals 2*16.0
33 equals 3*11.0
34 equals 2*17.0
35 equals 5*7.0
36 equals 2*18.0
37 is a prime number
38 equals 2*19.0
39 equals 3*13.0
40 equals 2*20.0
41 is a prime number
42 equals 2*21.0
43 is a prime number
44 equals 2*22.0
45 equals 3*15.0
46 equals 2*23.0
47 is a prime number
48 equals 2*24.0
49 equals 7*7.0
50 equals 2*25.0
51 equals 3*17.0
52 equals 2*26.0
53 is a prime number
54 equals 2*27.0
55 equals 5*11.0
56 equals 2*28.0
57 equals 3*19.0
58 equals 2*29.0
59 is a prime number
60 equals 2*30.0
61 is a prime number
62 equals 2*31.0
63 equals 3*21.0
64 equals 2*32.0
65 equals 5*13.0
66 equals 2*33.0
67 is a prime number
68 equals 2*34.0
69 equals 3*23.0
70 equals 2*35.0
71 is a prime number
72 equals 2*36.0
73 is a prime number
74 equals 2*37.0
75 equals 3*25.0
76 equals 2*38.0
77 equals 7*11.0
78 equals 2*39.0
79 is a prime number
80 equals 2*40.0
81 equals 3*27.0
82 equals 2*41.0
83 is a prime number
84 equals 2*42.0
85 equals 5*17.0
86 equals 2*43.0
87 equals 3*29.0
88 equals 2*44.0
89 is a prime number
90 equals 2*45.0
91 equals 7*13.0
92 equals 2*46.0
93 equals 3*31.0
94 equals 2*47.0
95 equals 5*19.0
96 equals 2*48.0
97 is a prime number
98 equals 2*49.0
99 equals 3*33.0

### Return value

In [15]:
def i_return():
    return 5+5
def i_print():
    print(5+5)
i_return()

10

In [18]:
result=i_return()
#another=i_print()

print(f'Result is {result}')
print(f'Another is {another}')

Result is 10
Another is None

In [25]:
def fives():
     addition=5+5
     print(addition)
     return(addition)
    
    
print(fives())

10
10

In [26]:
def add_two(x,y):
    return x+y
add_two(16626363,466732756789)

466749383152

In [28]:
lambda x, y: x+y
(lambda x, y: x+y)(10,5)

15

In [29]:
add=lambda x, y : x+y

In [32]:
def who(data, identify):
     return identify(data)
#def my_identifier_function(some_data):
   # return some_data['name']
user={'name':'Shahin', 'surname':'Ahmadi'}
#print(who(user, my_identifier_function))
print(who(user,lambda x:x['name']))

Shahin

### Error in Python

In [34]:
my_variable=123
print(my_variable)

123

###  Milestone project

In [ ]:

movies=[]

def menu():
    
    user_input=input("Enter 'a' to add movie, '1' to see your movies, 'f' to find a movie: ")

    
    while user_input!='q':

                if user_input=='a':
                      add_movie()
                elif user_input=='l':
                      show_movie(movies)
                elif user_input=='f':
                      find_movie()

                else:
                    print("I do not understand this command")

                    
                user_input=input("\nEnter 'a' to add movie, '1' to see your movies, 'f' to find a movie: ")                   
                    
                    


def add_movie():

                name=input("Enter the name of movie: ")
                director=input("Enter the director of the movie: ")
                year=input("Enter the production year of the movie: ")
                

                movies.append({

                        'name':name,
                        'director':director,
                        'year':year

                    })
def show_movie(movies_list):
                for movie in movies_list:
                    print(f"Name:{movie['name']}")
                    print(f"Director:{movie['director']}")
                    print(f"Release year:{movie['year']}")

def find_movie():
    find_by=input("Waht property of the movie are you looking for? ")
    looking_for=input("What are you searching for? ")
    
    found_movies=find_by_attribute(movies,looking_for, lambda x:x[find_by])
    
    show_movie(found_movies)
    
def find_by_attribute(items, expected, finder):  
        found=[]
        
        for i in items:
            if finder(i)==expected:
                    found.append(i)
        return found


menu()

Enter 'a' to add movie, '1' to see your movies, 'f' to find a movie: a
Enter the name of movie: ali
Enter the director of the movie: hasan
Enter the production year of the movie: 2000

Enter 'a' to add movie, '1' to see your movies, 'f' to find a movie: x
I do not understand this command

Enter 'a' to add movie, '1' to see your movies, 'f' to find a movie: a
Enter the name of movie: ali
Enter the director of the movie: hasan
Enter the production year of the movie: 2000

Enter 'a' to add movie, '1' to see your movies, 'f' to find a movie: a
Enter the name of movie: x
Enter the director of the movie: y
Enter the production year of the movie: 2001

Enter 'a' to add movie, '1' to see your movies, 'f' to find a movie: l
Name:ali
Director:hasan
Release year:2000
Name:ali
Director:hasan
Release year:2000
Name:x
Director:y
Release year:2001

Enter 'a' to add movie, '1' to see your movies, 'f' to find a movie: f
Waht property of the movie are you looking for? year
What are you searching for? 2000
Name:ali
Director:hasan
Release year:2000
Name:ali
Director:hasan
Release year:2000

### Error in pythons

In [16]:
####Index error
friends=['Rolf','Anne']
print(friends[2])

Anne

In [2]:
####Key error(If we use the key incorrectly)
### We consider the milestone project 1 to illustrate this errordef show_movie(movies_list):
def show_movie(movies_list): 
         for movie in movies_list:
                       print(f"Name:{movie['name']}")
                       print(f"Director:{movie['director']}")
                       print(f"Release year:{movie['release']}")# It should be year not release

In [3]:
####Name error
print(hello)# hello is not defined

In [17]:
####Attribute error
friends=['Rolf','Jose','Charlie']
friends_nearby=['Rolf','Anna']
friends.intersection(friends_nearby)

AttributeError: 'list' object has no attribute 'intersection'

In [18]:
####NotImplementedError, It says that the method or attribute we use is not implemented yet
class user:
    def __init__(self,username,password):
        self.username=username
        self.password=password
        
    def login(self):
        raise NotImplementedError('This feature has not implemented yet.')

In [6]:
####RunTimeError
.........

In [7]:
    ####SyntaxError
class User # : should be here
        def __init__(self,username, password):
            self.username=username
            self.password=password

In [8]:
####IndentationError
def add_two(x,y):
    pass


return x+y

In [19]:
####TabError
....

SyntaxError: invalid syntax (<ipython-input-19-a1887e5fb771>, line 2)

In [20]:
####TypeError
4+'ghjk'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
####ValueError
int('20.5')

ValueError: invalid literal for int() with base 10: '20.5'

In [12]:
####ImportError

In [13]:
####DeprecationWarning

In [38]:
class Car:
    def __init__(self,make,model):
        self.make=make
        self.model=model
    def __repe__(self):
        return f'<Car {self.make}{self.model}>'








class Garage:
        def __init__(self):
              self.cars=[]
        
        
        def __len__(self):
            return len(self.cars)
    
    
        def add_car(self,car):
            if not isinstance(car, Car):
                raise TypeError(f'Tried to add a `{car.__class__.__name__}` to the garage, but you can only add Car object')
            self.cars.append(car)
        
ford=Garage()
car=Car('Ford','Fiesta')
ford.add_car(car)
print(len(ford))

1

#### Create your own error

In [47]:
class RuntimeErrorWithCode(E):xception
    """
    Exception raised when a specific error code is needed
    """
    def __init__(self,message,code):
           # self.message=message
            super().__init__(f'Error code{code}:{message}')
            self.code=code
            
err=RuntimeErrorWithCode('An error happend.',500)
print(err.__doc__)
print(err)

    Exception raised when a specific error code is needed

Error code500:An error happend.

#### Dealing with errors

In [49]:
class Car:
    def __init__(self,make,model):
        self.make=make
        self.model=model
    def __repe__(self):
        return f'<Car {self.make}{self.model}>'








class Garage:
        def __init__(self):
              self.cars=[]
        
        
        def __len__(self):
            return len(self.cars)
    
    
        def add_car(self,car):
            if not isinstance(car, Car):
                raise TypeError(f'Tried to add a `{car.__class__.__name__}` to the garage, but you can only add Car object')
            self.cars.append(car)
        
ford=Garage()
fiesta=Car('Ford','Fiesta')

try:
    ford.add_car('fiesta')
except TypeError:
    print('Your car is not a car!')

Your car is not a car!

#### Example of try and except

In [ ]:
class User:
    def __init__()